.article {
  &__title {
    margin-bottom: 24px;
    font: {
      size: 1.8rem;
      weight: 700;
    }
    line-height: 1.5;
  }
  &__date {
    font: {
      size: 1.2rem;
    }
  }
  &__titleLink {
    color: $black-text;
  }
  &__content {
    margin-bottom: 40px;
  }
}
