.contact-form-list {
  &__title {
    margin-bottom: 16px;
    font: {
      weight: 500;
    }
  }
  &__data {
    &:not(:last-of-type) {
      margin-bottom: 24px;
    }
    select,
    input[type="text"],
    input[type="email"] {
      padding: 0 16px;
      width: 100%;
      height: 40px;
      background-color: transparent;
      border: 1px solid $gray-m;
      border-radius: 4px;
      -webkit-appearance: none;
      font: {
        size: 1.4rem;
        weight: 400;
      }
      color: $black-text;
      letter-spacing: .1em;
      &[readonly="readonly"] {
        background-color: $gray-l;
      }
    }
    textarea {
      padding: 16px;
      width: 100%;
      height: 160px;
      background-color: transparent;
      border: 1px solid $gray-m;
      border-radius: 4px;
      resize: vertical;
      -webkit-appearance: none;
      font: {
        size: 1.4rem;
        weight: 400;
      }
      color: $black-text;
      letter-spacing: .1rem;
      &[readonly="readonly"] {
        background-color: $gray-l;
      }
    }
    &--select {
      .wpcf7-form-control-wrap {
        &::after {
          position: absolute;
          top: 50%;
          right: 16px;
          transform: translateY(-50%);
          content: "\f107";
          color: $black-text;
          font: {
            family: "Font Awesome 5 Free";
            weight: 900;
          }
          z-index: -1;
        }
      }
      select {
        padding: 0 40px 0 16px;
      }
    }
  }
}
