.google-map {
  padding-top: 100%;
  position: relative;
  filter: grayscale(1);
  overflow: hidden;
  @include mq() {
    padding-top: 61.8%;
  }
  @include mq(1024) {
    padding-top: 50%;
  }
  &__map {
    margin-top: -150px;
    width: 100%;
    height: calc(100% + 150px);
    position: absolute;
    top: 0;
    left: 0;
  }
}
