.google-map {
  padding-top: 100%;
  position: relative;
  @include mq() {
    padding-top: 61.8%;
  }
  @include mq(1024) {
    padding-top: 50%;
  }
  &__map {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
}
