.header-nav-list {
  display: flex;
  justify-content: space-between;
  &__item {
    &--active {
      border-bottom: 1px solid $black-text;
    }
    @include mq() {
      &:not(:last-child) {
        margin-right: 16px;
      }
    }
  }
  &__link {
    display: block;
    font: {
      size: 1.2rem;
    }
    color: $black-text;
    letter-spacing: .08em;
    @include mq() {
      font: {
        size: 1.4rem;
      }
    }
  }
}
