.header {
  @include mq() {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__link {
    font: {
      size: 2.4rem;
      weight: 500;
    }
    color: $black-text;
    line-height: 1;
    letter-spacing: .2em;
    @include mq() {
      font: {
        size: 3.2rem;
      }
    }
  }
  &__nav {
    margin-top: 40px;
    @include mq() {
      margin-top: 0;
    }
  }
}
