.page {
  &__header,
  &__main,
  &__footer {
    padding: 16px;
    @include mq() {
      margin: 0 auto;
      padding: 32px;
      max-width: 1024px;
    }
  }
  &__header {
    margin-bottom: 16px;
    @include mq() {
      margin-bottom: 40px;
    }
  }
  &__main {
    margin-bottom: 100px;
    @include mq() {
      margin-bottom: 200px;
    }
  }
}
